{% extends 'todo/main.html' %}



{% block title %}
Home Page
{% endblock %}

{% block body %}

<div class = "container">
	<div id="full-container" >
		<div style="box-shadow: 0 3px 8px rgba(0,0,0,0.25)">
			<form id ="form" >
				<div class="entire-wrapper">
					<div style="display: flex;">
						<input class = "form-control" type="text" name="title" placeholder="To-Do">
						<input class = "btn btn-dark"  type="submit" value="Save To-Do" >
					</div>
				</div>
			</form>
		</div>

		<div id="todo-list-display">
			
		</div>
	</div>
</div>



{% endblock %}